<body>
    <main>
        <h1>welcome to Bookers!!</h1>
        <p>In Bookers,</p>
    <p>you can share and exchange your opinions , inpressions , and emotions
    <br>about various books!</p>
        <li>
            <%= link_to 'Log in', new_user_registration_path, class: "btn btn-success" %>
        </li>
        <li>
            <a class="btn btn-success" href="/users/sign_up" role="button">Sign up</a>
        </li>

    </main>
</body>

