<div class="container">
    <div class="row">
        <h1>welcome to
        <i class="fas fa-book"></i>
        Bookers!!</h1>
    </div>
    <div class="row">
        <p>In
        <i class="fas fa-book"></i>
        Bookers,</p>
        <br>
        <p>you can share and exchange your opinions , inpressions , and emotions
        <br>about various books!</p>
    </div>
    <div class="row">
        <p>
            <%= link_to 'Log in', new_user_session_path, class: "btn btn-info w-30" %>
        </p>
    </div>
    <br>
    <div class="row">
        <p>
            <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-success w-30" %>
        </p>
    </div>
</div>



